/* Personal CSS */

/* ==========================================================================
   General styles
   ========================================================================== */

html,
body {
    height: 100%;
}

body {
    padding-top: 50;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    background-color: rgb(41, 56, 70);

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

h1{
    padding-bottom: 30px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.div {
    display: block;
}

.wrapper-main{
    padding-top: 80px;
}

.column{
    margin-top: -30px;
    background-color: #f3f3f4;
}

/* ==========================================================================
   Layout
   ========================================================================== */

#footerwrap {
    background: #2b2b2b;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#footerwrap h4 {
    color: white;
}

/* ==========================================================================
   Home
   ========================================================================== */
#headerwrap {
    background: url(../img/bg1.jpg) no-repeat center top;
    padding-top:160px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    color:#ffffff;
    margin-top: 90px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

#headerwrap p {
    color:#ffffff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
}

.whitewrap {
    background-color: #fff;
}

.greywrap {
    background: #f5f5f5;
    margin-top: 0px;
    padding-top: 40px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.greywrap p {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.greywrap .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;
}

/* ==========================================================================
   Row-OffCanvas
   ========================================================================== */

#sidebar .nav {
    width: 95%;
}
#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
	position: relative;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
	right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
	left: -41.6%;
    }
    .row-offcanvas-right.active {
	right: 41.6%;
    }
    .row-offcanvas-left.active {
	left: 41.6%;
    }
    .sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 41.6%;
    }
    #sidebar {
	padding-top:100px;
    }
}

/* ==========================================================================
   Boxs
   ========================================================================== */

#columns {
    column-fill: auto;
}

.box {
    width: 100%;
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.box-head {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 48px;
}

.box-head h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.box-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}

.box-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #3498db;
}

.box-content {
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.box img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.box p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}